In [31]:
##### Question 1
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
#Chrome Version 105.0.5195.127
#downloaded the Chrome webdriver and extract all and 

#*** Connect to the Driver
driver = webdriver.Chrome(r"C:\Users\mrimc\Downloads\chromedriver_win32\chromedriver.exe")
# or driver=webdriver.Chrome(r"chromedriver.exe")

#***Opening Naukri page on automated chrome browser
driver.get("https://www.naukri.com/")
#*** Entering Designation and Location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')
#***send key as bangalore for location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')
#***Submit the search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
#*** After Search wait for page to Load
time.sleep(1)
#*** Create Empty List for Job title, job location Company Name experience required
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#*** Scraping the job title and all details from given page using relative xpath
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)
    

#*** Scrapping for the Location 
location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
#*** Scrapping for Company Name 

company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)
    

 #*** Scrap fpr Experience required
experience_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tag[0:10]:
    experience=i.text
    experience_required.append(experience)  

# print the length of the list before creating a data frame
driver.close() 
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

10 10 10

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst,Bangalore/Bengaluru,RYSTAD ENERGY INDIA PRIVATE LIMITED,0-3 Yrs
1,Senior Data Analyst - Data Modeling/Quality,Bangalore/Bengaluru,Get My Parking,4-9 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Walmart,4-7 Yrs
3,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Artech infosystem,1-6 Yrs
4,Data Analyst/Data Engineer,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra,4-9 Yrs
5,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Mobile Premier League,3-5 Yrs
7,Senior Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Enquero,3-8 Yrs
8,Sr. Data Analyst,Remote,McAfee,5-7 Yrs
9,Senior Data Analyst - Immediate,"Bangalore/Bengaluru, Hyderabad/Secunderabad, C...",Perficient,5-7 Yrs

In [33]:
##### Question 2
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
#Chrome Version 105.0.5195.127
#downloaded the Chrome webdriver and extract all and 

#*** Connect to the Driver
driver = webdriver.Chrome(r"C:\Users\mrimc\Downloads\chromedriver_win32\chromedriver.exe")
# or driver=webdriver.Chrome(r"chromedriver.exe")

#***Opening Naukri page on automated chrome browser
driver.get("https://www.naukri.com/")
#*** Entering Designation and Location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')
#***send key as bangalore for location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')
#***Submit the search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
#*** After Search wait for page to Load
time.sleep(1)
#*** Create Empty List for Job title, job location Company Name experience required
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#*** Scraping the job title and all details from given page using relative xpath
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)
    

#*** Scrapping for the Location 
location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
#*** Scrapping for Company Name 

company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)
    

 #*** Scrap fpr Experience required
experience_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tag[0:10]:
    experience=i.text
    experience_required.append(experience)  

driver.close() 

df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

10 10 10

,Job Title,Job Location,Company Name,Experience Required
0,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,4-9 Yrs
3,Data Scientist,"Bangalore/Bengaluru, Gurgaon/Gurugram",EXL,4-7 Yrs
4,General Data Scientist,Bangalore/Bengaluru,Hindustan Coca Cola Beverages (HCCB),3-8 Yrs
5,Senior Manager II - Data science ( Marketplace),Bangalore/Bengaluru,Walmart,12-15 Yrs
6,Senior Data Scientist,Bangalore/Bengaluru,Walmart,5-9 Yrs
7,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,6-10 Yrs
8,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo,3-6 Yrs
9,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,6-8 Yrs

In [41]:
##### Question 3
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By
import time

#Chrome Version 105.0.5195.127
#downloaded the Chrome webdriver and extract all and 

#*** Connect to the Driver
driver = webdriver.Chrome(r"C:\Users\mrimc\Downloads\chromedriver_win32\chromedriver.exe")
# or driver=webdriver.Chrome(r"chromedriver.exe")

#***Opening Naukri page on automated chrome browser
driver.get("https://www.naukri.com/")
#*** Entering Designation and Location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

#***Submit the search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()


#*** After Search wait for page to Load
time.sleep(5)

#***Click Delhi / NCR for location filter
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]").click()

time.sleep(5)

#Minimize filters Posted by, Industries, Top Companies, Education, Role Category, Company Type
posted = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/section[1]/div[2]/div[10]/div/i").click()
industries = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/section[1]/div[2]/div[11]/div/i").click()
top_companies = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/section[1]/div[2]/div[12]/div/i").click()
education = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/section[1]/div[2]/div[9]/div/i").click()
role_cat = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/section[1]/div[2]/div[8]/div/i").click()
comp_type = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/section[1]/div[2]/div[7]/div/i").click()

time.sleep(5)

#Click 3-6 lakhs for salary
salary = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]").click()

time.sleep(5)


#*** Create Empty List for Job title, job location Company Name experience required
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#*** Scraping the job title and all details from given page using relative xpath
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)
    

#*** Scrapping for the Location 
location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
#*** Scrapping for Company Name 

company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)
    

 #*** Scrap fpr Experience required
experience_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tag[0:10]:
    experience=i.text
    experience_required.append(experience)  

driver.close() 
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

Search:::: <selenium.webdriver.remote.webelement.WebElement (session="db6abe738af62b1f05db5b3e44c83c59", element="7e11c646-ac7b-4363-95e2-0f31c3024664")>
10 10 10

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
3,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
4,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
7,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
8,Data Scientist,Noida,Avantive Solutions,7-10 Yrs
9,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs

In [56]:
##### Question 4
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
#Chrome Version 105.0.5195.127
#downloaded the Chrome webdriver and extract all and 

#*** Connect to the Driver
driver = webdriver.Chrome(r"C:\Users\mrimc\Downloads\chromedriver_win32\chromedriver.exe")
# or driver=webdriver.Chrome(r"chromedriver.exe")

#***Opening Naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")
#*** Entering Designation and Location

time.sleep(10)

Close_Login_Form=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button").click()

#Search for Sunglasses
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys('sunglasses')

#***Submit the search button
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button").click()

#Wait for search to load
time.sleep(5)

#*** Create Empty List for Brand, Product Description and Price
brand=[]
product_desc=[]
price=[]

def get_scrapped_data():
    #*** Scraping the Brand
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    if(len(brand) < 80):
        for i in brand_tag[0:len(brand_tag)]:
            brand_text=i.text
            brand.append(brand_text)
    else:
        for i in brand_tag[0:20]:
            brand_text=i.text
            brand.append(brand_text)


    #*** Scrapping for the Product Description 
    pd_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    if(len(product_desc) < 80):
        for i in pd_tag[0:len(pd_tag)]:
            pd_text=i.text
            product_desc.append(pd_text)
    else:
        for i in pd_tag[0:20]:
            pd_text=i.text
            product_desc.append(pd_text)
    
    #*** Scrapping for Price 
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    if(len(price) < 80):
        for i in price_tag[0:len(price_tag)]:
            price_text=i.text
            price.append(price_text)
    else:
        for i in price_tag[0:20]:
            price_text=i.text
            price.append(price_text)

while(len(brand)<100):
    get_scrapped_data()
    time.sleep(5)
    if(len(brand) == 40):
        driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]").click()
    else:
        if(len(brand) < 100):
            driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]").click()
    
    time.sleep(5)
    
driver.close()
df=pd.DataFrame({'Brand':brand,'Product Description':product_desc,'Price':price})
df

0
40
80
100 100 100

             Brand                                Product Description   Price
0      SKYZA INDIA  Polarized, UV Protection Sports Sunglasses (Fr...    ₹408
1      SKYZA INDIA  Polarized, UV Protection Sports Sunglasses (Fr...    ₹408
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹799
3   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹319
4           PIRASO           UV Protection Over-sized Sunglasses (65)    ₹383
..             ...                                                ...     ...
95   VINCENT CHASE    Mirrored, UV Protection Aviator Sunglasses (58)  ₹1,049
96         Ray-Ban  by Lenskart Polarized, UV Protection Wayfarer ...  ₹5,029
97   VINCENT CHASE              Gradient Round Sunglasses (Free Size)    ₹686
98        Fastrack  Polarized, UV Protection Retro Square Sunglass...  ₹1,599
99       ROYAL SON  UV Protection, Gradient Butterfly, Retro Squar...    ₹719

[100 rows x 3 columns]

In [11]:
##### Question 5
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
#Chrome Version 105.0.5195.127
#downloaded the Chrome webdriver and extract all and 

#*** Connect to the Driver
driver = webdriver.Chrome(r"C:\Users\mrimc\Downloads\chromedriver_win32\chromedriver.exe")
# or driver=webdriver.Chrome(r"chromedriver.exe")

#***Opening Naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")
#*** Entering Designation and Location

time.sleep(10)

Close_Login_Form=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button").click()

#Search for Sunglasses
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys('iphone 11')

#***Submit the search button
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button").click()

#Wait for search to load
time.sleep(5)

#Click on Iphone 11 (Black 64 GB)
iphoneLink = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div/div/div/a").get_attribute("href")

driver.get(iphoneLink)

time.sleep(5)

#Click on All Reviews Link
driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a").click()

time.sleep(5)

#*** Create Empty List for Brand, Product Description and Price
rating=[]
review=[]
full_review=[]

def get_scrapped_data():
    #*** Scraping the Brand
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag[0:len(rating_tag)]:
        rating_text=i.text
        rating.append(rating_text)


    #*** Scrapping for the Product Description 
    review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tag[0:len(review_tag)]:
        review_text=i.text
        review.append(review_text)
    
    #*** Scrapping for Price 
    full_review_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tag[0:len(full_review_tag)]:
        full_review_text=i.text
        full_review.append(full_review_text)
            
    if(len(rating) == 10):
        next_page = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]").get_attribute("href")
        driver.get(next_page)
        time.sleep(5)
    else:
        if(len(rating) < 100):
            next_page = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]").get_attribute("href")
            driver.get(next_page)
            time.sleep(5)

while(len(rating)<100):
    get_scrapped_data()
    
    
    
rating_100=[]
review_100=[]
full_review_100=[]

for i in range(0,100):
    rating_100.append(rating[i])
    review_100.append(review[i])
    full_review_100.append(full_review[i])
    
driver.close()
df=pd.DataFrame({'Rating':rating_100,'Review Summary':review_100,'Full Review':full_review_100})
df

10
20
30
40
50
59
69
79
88
97
100
100 103 103

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Worth every penny,It is better to buy iPhone 11 over iPhone 12 i...
96,5,Excellent,It was amazing experience for me. Honestly i a...
97,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
98,5,Excellent,Just go for it.\nThis phone is really amazing....
99,5,Super!,This is my first ever iPhone.\nAnd I truly don...

In [13]:
##### Question 6
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
#Chrome Version 105.0.5195.127
#downloaded the Chrome webdriver and extract all and 

#*** Connect to the Driver
driver = webdriver.Chrome(r"C:\Users\mrimc\Downloads\chromedriver_win32\chromedriver.exe")
# or driver=webdriver.Chrome(r"chromedriver.exe")

#***Opening Naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")
#*** Entering Designation and Location

time.sleep(10)

Close_Login_Form=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button").click()

#Search for Sunglasses
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys('sneakers')

#***Submit the search button
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button").click()

#Wait for search to load
time.sleep(5)

#*** Create Empty List for Brand, Product Description and Price
brand=[]
product_desc=[]
price=[]

def get_scrapped_data():
    #*** Scraping the Brand
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    if(len(brand) < 80):
        for i in brand_tag[0:len(brand_tag)]:
            brand_text=i.text
            brand.append(brand_text)
    else:
        for i in brand_tag[0:20]:
            brand_text=i.text
            brand.append(brand_text)


    #*** Scrapping for the Product Description 
    pd_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    if(len(product_desc) < 80):
        for i in pd_tag[0:len(pd_tag)]:
            pd_text=i.text
            product_desc.append(pd_text)
    else:
        for i in pd_tag[0:20]:
            pd_text=i.text
            product_desc.append(pd_text)
    
    #*** Scrapping for Price 
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    if(len(price) < 80):
        for i in price_tag[0:len(price_tag)]:
            price_text=i.text
            price.append(price_text)
    else:
        for i in price_tag[0:20]:
            price_text=i.text
            price.append(price_text)

while(len(brand)<100):
    get_scrapped_data()
    time.sleep(5)
    if(len(brand) == 40):
        driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]").click()
    else:
        if(len(brand) < 100):
            driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]").click()
    
    time.sleep(5)
    
    
brand_100=[]
product_desc_100=[]
price_100=[]

for i in range(0,100):
    brand_100.append(brand[i])
    product_desc_100.append(product_desc[i])
    price_100.append(price[i])

driver.close()
df=pd.DataFrame({'Brand':brand_100,'Product Description':product_desc_100,'Price':price_100})
df

100 111 100

         Brand                                Product Description   Price
0      Numenzo                                   Sneakers For Men    ₹559
1   Shoes Icon      Modern Trendy Sneakers Shoes Sneakers For Men    ₹319
2       BRUTON      Premium Casual Shoes for Men Sneakers For Men    ₹236
3        BIRDE  Lightweight Pack Of 1 Trendy Sneakers Sneakers...    ₹299
4       BRUTON                                   Sneakers For Men    ₹179
..         ...                                                ...     ...
95       Zixer  Comfortable & Ultra Light Weight Sneaker Sneak...    ₹714
96   Deals4you                                   Sneakers For Men    ₹398
97       Xtoon                     White Sneaker Sneakers For Men    ₹424
98      DUCATI                                   Sneakers For Men  ₹1,289
99      BRUTON                    casual for men Sneakers For Men    ₹499

[100 rows x 3 columns]

In [19]:
##### Question 7
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By
import time

#Chrome Version 105.0.5195.127
#downloaded the Chrome webdriver and extract all and 

#*** Connect to the Driver
driver = webdriver.Chrome(r"C:\Users\mrimc\Downloads\chromedriver_win32\chromedriver.exe")
# or driver=webdriver.Chrome(r"chromedriver.exe")

#***Opening Naukri page on automated chrome browser
driver.get("https://www.myntra.com/shoes")



#*** After Search wait for page to Load
time.sleep(5)

#Click Black for color
color = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label").click()

time.sleep(5)

#***Click Rs. 7179 to Rs. 14119 for Price filter
price = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()

time.sleep(5)


#*** Create Empty List for Job title, job location Company Name experience required
brand=[]
shoe_desc=[]
shoe_price=[]


def get_scrapped_data():
    #*** Scraping the Brand
    brand_tag=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_tag[0:len(brand_tag)]:
        brand_text=i.text
        brand.append(brand_text)


    #*** Scrapping for Shoe Description 
    shoe_desc_tag=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in shoe_desc_tag[0:len(shoe_desc_tag)]:
        shoe_desc_text=i.text
        shoe_desc.append(shoe_desc_text)

    #*** Scrapping for Shoe Price 
    shoe_price_tag=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in shoe_price_tag[0:len(shoe_price_tag)]:
        shoe_price_text=i.text
        shoe_price.append(shoe_price_text)
    
    
while(len(brand)<100):
    get_scrapped_data()
    time.sleep(5)
    if(len(brand) == 50):
        driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a").click()
    else:
        if(len(brand) < 100):
            driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[13]/a").click()
    
    time.sleep(5)
    

driver.close() 
df=pd.DataFrame({'Brand':brand,'Shoe Description':shoe_desc,'Price':shoe_price})
df

100 100 100

,Brand,Shoe Description,Price
0,Nike,Men React Infinity 3 Running,Rs. 13995
1,ADIDAS Originals,Men Leather Niteball Sneakers,Rs. 11999
2,UNDER ARMOUR,Unisex Curry Basketball Shoes,Rs. 10999
3,Nike,Men JORDAN LOW Basketball Shoe,Rs. 12795
4,Tommy Hilfiger,Men Solid Sneakers,Rs. 7999
...,...,...,...
95,Skechers,Men Sports Shoes,Rs. 8999
96,Puma,Women Running Sports Shoes,Rs. 10499Rs. 14999(30% OFF)
97,ADIDAS,Men Adizero Adios 7 Running,Rs. 11999
98,Xtep,Men Skateboarding Shoes,Rs. 8599
99,ADIDAS Originals,Men Ozweego Sneakers,Rs. 10999

In [25]:
##### Question 8
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
#Chrome Version 105.0.5195.127
#downloaded the Chrome webdriver and extract all and 

#*** Connect to the Driver
driver = webdriver.Chrome(r"C:\Users\mrimc\Downloads\chromedriver_win32\chromedriver.exe")
# or driver=webdriver.Chrome(r"chromedriver.exe")

#***Opening Naukri page on automated chrome browser
driver.get("https://www.amazon.in/")
#*** Entering Designation and Location

time.sleep(5)

#Search for Sunglasses
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys('Laptop')

#***Submit the search button
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input").click()

#Wait for search to load
time.sleep(5)

#Click on Intel Core i7 Filter
coreI7 = driver.find_elements(By.XPATH,'//span[@class="a-list-item"]')
for i in coreI7[0:len(coreI7)]:
    if(i.text == "Intel Core i7"):
        i.click()
        break;
    else:
        continue;

time.sleep(5)


#*** Create Empty List for Title, Rating and Price
rating=[]
title=[]
price=[]

#*** Scraping the Title
title_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tag[0:10]:
    title_text=i.text
    title.append(title_text)


#*** Scrapping for the Rating 
rating_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in rating_tag[0:10]:
    rating_text=i.text
    rating.append(rating_text)

#*** Scrapping for Price 
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag[0:10]:
    price_text=i.text
    price.append(price_text)

driver.close()
df=pd.DataFrame({'Title':title,'Ratings':rating,'Price':price})
df

                                               Title Ratings     Price
0  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....      61    80,900
1  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...       8    82,990
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...      44    57,990
3  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...      25    82,990
4  DELL Alienware x14 Gaming Laptop, Intel i7-127...       4  2,00,490
5  ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...       1    84,990
6  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...      78    84,990
7  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...      18    94,990
8  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...      89  1,06,800
9  ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...      46    79,990

In [29]:
##### Question 9
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
#Chrome Version 105.0.5195.127
#downloaded the Chrome webdriver and extract all and 

#*** Connect to the Driver
driver = webdriver.Chrome(r"C:\Users\mrimc\Downloads\chromedriver_win32\chromedriver.exe")
# or driver=webdriver.Chrome(r"chromedriver.exe")

#***Opening Naukri page on automated chrome browser
driver.get("https://www.ambitionbox.com/")
#*** Entering Designation and Location

time.sleep(10)

#Close Ad
Close_Ad=driver.find_element(By.XPATH,"/html/body/div/div/div/div[4]/div/div/button").click()

#Go to Jobs Page
driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a").click()

time.sleep(5)

#Search for Data Scientist
search = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search.send_keys('Data Scientist')

#***Submit the search button
search_btn=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button").click()

#Wait for search to load
time.sleep(5)

#Click on Location Filter
driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]").click()
time.sleep(1)

#Search Noida in search bar of location
driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input").send_keys('Noida')
time.sleep(1)

#Click on Noida radio button
driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label").click()
time.sleep(5)

#*** Create Empty List for Title, Rating and Price
company_name=[]
posted_ago=[]
rating=[]

#*** Scraping the Company Name
name_tag=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in name_tag[0:10]:
    name=i.text
    company_name.append(name)


#*** Scrapping for the Posted Ago 
posted_tag=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
index=0
for i in posted_tag[0:20]:
    if(index%2 == 0):
        posted=i.text
        posted_ago.append(posted)
    index+=1
    
#*** Scrapping for Price 
rating_tag=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in rating_tag[0:10]:
    rating_text=i.text
    rating.append(rating_text)

    
driver.close()
df=pd.DataFrame({'Company Name':company_name,'Posted On':posted_ago,'Rating':rating})
df

                                     Company Name Posted On Rating
0                   GENPACT India Private Limited    4d ago    4.0
1  Optum Global Solutions (India) Private Limited   11d ago    4.1
2  BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED    9d ago    4.3
3                                          EY GDS   11d ago    3.8
4               GLOBALLOGIC INDIA PRIVATE LIMITED    9d ago    4.0
5                   GENPACT India Private Limited  1mon ago    4.0
6                                         Genpact  1mon ago    4.0
7        Ericsson India Global Services Pvt. Ltd.  1mon ago    4.3
8                         Dew Solutions Pvt. Ltd.   16d ago    4.3
9                                              EY  1mon ago    3.8

In [41]:
##### Question 10
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
#Chrome Version 105.0.5195.127
#downloaded the Chrome webdriver and extract all and 

#*** Connect to the Driver
driver = webdriver.Chrome(r"C:\Users\mrimc\Downloads\chromedriver_win32\chromedriver.exe")
# or driver=webdriver.Chrome(r"chromedriver.exe")

#***Opening Naukri page on automated chrome browser
driver.get("https://www.ambitionbox.com/")
#*** Entering Designation and Location

time.sleep(10)

#Close Ad
Close_Ad=driver.find_element(By.XPATH,"/html/body/div/div/div/div[4]/div/div/button").click()

#Hover on Salaries Link and Click on Browse salaries
driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[3]").click()
time.sleep(1)
driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a").click();
time.sleep(5)

#Send Data Scientist element
driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input").send_keys("Data Scientist")
time.sleep(1)
#select data scientist option from autocomplete
driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p").click()
time.sleep(5)

comp_name=[]
tot_sal_record=[]
avg_sal=[]
min_sal=[]
max_sal=[]
exp_req=[]


#Scrap company name
name_tag = driver.find_elements(By.XPATH,"//a[@data-v-4c07f399]")
for i in name_tag[0:10]:
    name=i.text.split('\n')
    comp_name.append(name[0])
    
#Scrap total Salary records
tot_sal_tag = driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in tot_sal_tag[0:10]:
    tot_sal=i.text
    tot_sal_record.append(tot_sal)
    
#Scrap average salary
avg_tag = driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_tag[0:10]:
    avg=i.text
    avg_sal.append(avg)

#Scrap min max salary
min_max_tag = driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
index=0
for i in min_max_tag[0:20]:
    if(index%2==0):
        min_s = i.text
        min_sal.append(min_s)
    else:
        max_s=i.text
        max_sal.append(max_s)
    index+=1
        
#Scrap experience required
exp_req_tag = driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in exp_req_tag[0:10]:
    exp=i.text.split(" (")
    exp_req.append(exp[0])
        
driver.close()
df=pd.DataFrame({'Company Name':comp_name,'Total Salary Records':tot_sal_record,'Average Salary':avg_sal, 'Minimum Salary':min_sal, 'Maximum Salary':max_sal, 'Experience Required':exp_req})
df

,Company Name,Total Salary Records,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,(based on 23 salaries),₹ 32.3L,₹ 25.0L,₹ 45.0L,3-4 yrs experience
1,Ab Inbev,(based on 57 salaries),₹ 19.9L,₹ 15.0L,₹ 26.0L,2-4 yrs experience
2,Optum,(based on 49 salaries),₹ 16.4L,₹ 11.0L,₹ 22.6L,2-4 yrs experience
3,ZS,(based on 34 salaries),₹ 15.8L,₹ 11.0L,₹ 22.0L,1-2 yrs experience
4,Fractal Analytics,(based on 115 salaries),₹ 15.4L,₹ 9.0L,₹ 23.0L,2-4 yrs experience
5,Tiger Analytics,(based on 68 salaries),₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
6,Sigmoid Analytics,(based on 10 salaries),₹ 14.7L,₹ 12.7L,₹ 19.7L,1 yr experience
7,Legato Health Technologies,(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience
8,HSBC,(based on 10 salaries),₹ 14.0L,₹ 12.0L,₹ 18.0L,4 yrs experience
9,Tredence,(based on 14 salaries),₹ 13.9L,₹ 8.8L,₹ 17.5L,3 yrs experience